.success {
  background-color: springgreen;
}
.caution{
    background-color:yellow;
}
.controls{
  margin-left: .25%;
  margin-right: .25%;
}
/* You can add global styles to this file, and also import other style files */
.collapsing {
  -webkit-transition-delay: -2s;
  transition-delay: -2s;
  visibility: hidden;
}
.main-controls{
  margin-top:2%;
  margin-left: .25%;
  margin-right: .25%;
}
