<div class="container mt-5">
  <div class="container">
    <div class="container mt-5">
      <div *ngIf="errormsg" class="alert alert-danger collapse alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-toggle="collapse" data-bs-target=".alert" aria-label="Close">
        </button>
      </div>
      <div *ngIf="successmsg" class="alert alert-success collapse alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-toggle="collapse" data-bs-target=".alert" aria-label="Close">
        </button>
      </div>
  <form [formGroup]="customerForm">
    <h2>Add New Customer</h2>
    <div class="col-lg-4 mt-2">

      <input type="text" class="form-control" formControlName="Full_Name" placeholder="Full Name" />
    </div>
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" id="Phone_Number" formControlName="Phone_Number" placeholder="Phone Number" />
    </div>
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" id="address" formControlName="Last_Known_Address" placeholder="Last Known Address" />
    </div>
    <br>
    <div class="col-lg-4 mt-2">
      <button (click)="customerSubmit()" class="btn btn-primary btn-md"data-bs-toggle="collapse" *ngIf="!getparamid" data-bs-target=".alert">Add Customer</button>
    </div>
    <div class="col-lg-4 mt-2">
      <button (click)="customerUpdate()" class="btn btn-warning btn-md"data-bs-toggle="collapse" *ngIf="getparamid" data-bs-target=".alert">Update Customer</button>
    </div>

  </form>



</div>
