.controls{
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}
.control_group{
    align-content: space-around;
}
.collapsing {
    -webkit-transition-delay: -2s;
    transition-delay: -2s;
    visibility: hidden;
}
